<hr/>
<%= form_for @tag, html: { multipart: true } do |f| %>

<% if @tag.errors.any? %>
<% @tag.errors.full_messages.each do |message| %>
<p><%= message %></p>
<% end %>
<% end %>

<p>
<%= f.label :name %><br>
<%= f.text_field :name %>
</p>

<%= f.submit %>
<% end %>
<hr/>